.tasks-container {
    padding: 100px 110px;
}

.tasks-blocks {
    display: flex;
    justify-content: space-between;
}

.tasks-blocks div {
    width: 30%;
    font-family: 'Century Gothic Regular';
}

.tasks-blocks p {
    padding-top: 10px;
}

.first-number, .second-number, .third-number {
    position: relative;
    top: 20%;
    left: 10%;
}

@media only screen and (max-width: 1000px) {
    .tasks-container {
        padding: 20px 15px;
    }

    .tasks-blocks {
        flex-direction: column;
    }

    .tasks-blocks div {
        margin-top: 4%;
        width: 100%;
        position: relative;
    }

    .first-number, .second-number, .third-number {
        top: 0;
        left: 4%;
        font-size: 2em;
        position: absolute;
    }
}

@media only screen and (max-width: 600px) {
    .first-number, .second-number, .third-number {
        left: 8%;
    }
}

@media only screen and (max-width: 530px) {
    .first-number, .second-number, .third-number {
        left: 7%;
    }
}

@media only screen and (max-width: 400px) {
    .first-number, .second-number, .third-number {
        left: 10%;
    }
}