.team-container {
    padding: 0 110px 50px 110px;
    background-color: #F7F8FA;
}

.team-carousel {
    padding-top: 40px;
}

.team-block {
    display: flex;
    align-items: center;
}

.firefox-browser {
    height: 50vh;
}

.team-quote {
    min-height: 100%;
    font-family: 'Century Gothic Regular';
    right: 5%;
    position: relative;
    background-color: #fff;
    padding: 40px 50px;
    box-shadow: 0 10px 20px #0000001A;
}

.team-quote h4 {
    font-weight: 100;
    font-size: 0.9vw;
}

.team-quote h5 {
    color: #F1592A;
    margin-bottom: -20px;
    font-size: 0.7vw;
}

.team-personal-info {
    width: 45%;
    height: 40%;
    left: 27em;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background: #F05A2B;
    position: absolute;
    padding-top: 1%;
}

.team-personal-info h2, .team-personal-info h6 {
    font-family: 'Century Gothic Regular';
    -webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    color: #fff;
    font-weight: normal;
}

.team-personal-info h2 {
    font-size: 1.2vw;
    padding-left: 10%;
}

.team-personal-info h6 {
    margin: 0;
    font-size: 0.7vw;
    padding-left: 7%;
}

@media only screen and (max-width: 1350px)  {
    .team-personal-info {
        left: 20em;
        top: 85%;
        height: 30%;
    }
    
}

@media only screen and (max-width: 1300px)  {
    .team-personal-info {
        left: 20em;
        top: 85%;
    }
}

@media only screen and (max-width: 1290px)  {
    .team-personal-info {
        left: 18em;
        top: 85%;
    }
}

@media only screen and (max-width: 1200px)  {
    .team-personal-info {
        left: 15em;
        height: 35%;
        top: 85%;
    }
}

@media only screen and (max-width: 1100px)  {
    .team-personal-info {
        left: 13em;
        height: 28%;
        top: 92%;
    }
}

@media only screen and (max-width: 1020px)  {
    .team-personal-info {
        left: 11em;
        height: 25%;
        top: 95%;
    }
}

@media only screen and (max-width: 1000px)  {
    .team-block {
        flex-direction: column;
    }
}

@media only screen and (max-width: 990px)  {
    .team-personal-info {
        left: 10em;
        height: 30%;
        top: 95%;
    }
}

@media only screen and (max-width: 950px)  {
    .team-personal-info {
        left: 8em;
        height: 30%;
        top: 95%;
    }
}

@media only screen and (max-width: 920px)  {
    .team-personal-info {
        left: 8em;
        top: 95%;
        height: 20%;
    }
}
