.about-project-container {
    background-color: #F7F8FA;
    padding: 50px 100px;
}

.about-project-article {
    border: 1px solid #F05929;
    padding: 50px 100px;
}

.title-letter {
    color: #F05929;
    font-size: 30px;
}

.about-project-container a {
    color: #F05A2B;
}

.about-project-article .title-letter {
    font-weight: bold;
}

.about-project-article h5 {
    font-family: 'Century Gothic Regular';
    font-weight: normal;
    font-size: 18px;
}

.more-block {
    cursor: pointer;
    color: #F05929;
    font-size: 17px;
}

.less-block {
    cursor: pointer;
    color: #F05929;
    font-size: 12px;
}

@media only screen and (max-width: 1000px) {
    .about-project-container {
        padding: 20px 15px;
    }

    .about-project-article {
        border: 1px solid #F05929;
        padding: 20px 15px;
    }

    h1 {
        font-size: 20px;
    }

    .about-project-article h5 {
        font-size: 15px;
        margin: 5px 0;
    }
}
